{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Kapak Fotoğrafı -->
<div class="hero-image">
    <div class="welcome-message">
        <div class="main-title">CCTurkey'e</div>
        <div class="sub-title">Hoşgeldiniz</div>
    </div>
</div>

<!-- Bülten Başlığı -->
<a href="{% url 'news_list' %}" class="bulten-haberler">
    Haberler
</a>

<!-- Slider -->
<div id="newsSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for news in news_list %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ news.image.url }}" class="d-block w-100" alt="{{ news.title }}">
            <div class="carousel-caption">
                <h5 class="news-title">{{ news.title }}</h5>
                <p class="news-summary">{{ news.summary }}</p>
                <a href="{% url 'news_detail' id=news.id %}" class="btn btn-primary">Habere Git</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#newsSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#newsSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<style>
    /* Kapak Fotoğrafı İçin CSS */
    .hero-image {
        background-image: url("{% static 'images/kapak2.jpg' %}");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        position: relative;
        margin-bottom: 30px; /* Kapak fotoğrafı ile slider arasında boşluk */
    }

    /* Sayfanın yüksekliğini tamamen alacak şekilde ayar */
    html, body {
        height: 100%;
        margin: 0;
        overflow-x: hidden; /* Yatay kaydırma çubuğunu engelliyoruz */
    }
</style>

{% endblock %}
