{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 haber-page">
    <h2 class="custom-heading">Haberler</h2>
    <div class="row">
        {% for news in all_news %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">{{ news.title }}</h5>  <!-- Başlık ortalanmış -->
                    <p class="card-text">{{ news.summary }}</p>
                    <div class="card-footer mt-auto text-center"> <!-- Butonu alt kısma sabitledik -->
                        <a href="{% url 'news_detail' news.id %}" class="btn btn-primary">Devamını Oku</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
