/* Slider'ı kapak fotoğrafı bitiminden başlat */
#newsSlider {
    margin-top: 60px; /* Kapak fotoğrafından sonra slider'ı başlat, 50px yerine 60px kullanarak biraz daha boşluk bıraktık */
}

/* Slider başlık kısmına boşluk ekleyelim */
#newsSlider h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px; /* Slider ile başlık arasına biraz boşluk bırakalım */
    color: #333;
}

/* Slider resminin yüksekliğini ayarlama */
#newsSlider .carousel-item img {
    height: 400px; /* Slider resminin yüksekliği */
    object-fit: cover; /* Resmin en boy oranını koruyarak ekrana sığdırma */
}

/* Slider'ın caption kısmının stilleri */
#newsSlider .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam bir arka plan */
    border-radius: 8px;
    padding: 20px; /* Padding'i biraz arttırarak daha geniş bir alan sağladık */
    text-align: center;
}

/* Slider başlık stilini özelleştirme */
#newsSlider .carousel-caption h5 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px; /* Başlık ile özet arasına boşluk ekleyelim */
}

/* Slider özet kısmının stilini özelleştirme */
#newsSlider .carousel-caption p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 15px; /* Özet ile buton arasına boşluk ekleyelim */
}

/* Habere Git butonunun stilini özelleştirme */
#newsSlider .carousel-caption a {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    padding: 10px 20px; /* Butonun sol ve sağ tarafına daha fazla padding ekledik */
    border-radius: 5px;
    text-decoration: none;
}

#newsSlider .carousel-caption a:hover {
    background-color: #218838; /* Hover durumunda renk değişimi */
}
